body {
  background-color: white;
}

.container {
  min-width: 300px;
  max-width: 500px;
  margin: 100px auto 0 auto;
  border: 1px solid #000000;
  border-radius: 15px;
  overflow: hidden;
}

[data-widget=sports-report-widget] * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: black;
  background-color: white;
}

[data-widget=sports-report-widget] .red {
  color: red;
}

[data-widget=sports-report-widget] {
  margin: 2em 0.5em 2em 0;
  max-height: 500px;
  overflow-y: auto;
  background-color: white;  
}

[data-widget=sports-report-widget] [data-id=comment] {
  display: flex;
}

[data-widget=sports-report-widget] [data-id=icon] {
  font-size: 1.5em;
  flex: 0 0 2em;
  padding-top: 0.7em;
  text-align: center;
}

[data-widget=sports-report-widget] [data-id=text]{
  flex: 0 1 auto;
  padding-bottom: 0.8em;  
}

[data-widget=sports-report-widget] time{
  font-size: 0.6em;  
}
